aiohttp
anytree
git+https://github.com/ujjal40/arerep
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
hachoir
js2py
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
git+https://github.com/ujjal40/qbkro
requests
git+https://github.com/seksariashweta33/clisp
telegraph
tenacity
TgCrypto
https://github.com/seksariashweta33/torrs
urllib3
pyshorteners
youtube_dl
bs4
natsort
Pillow
pytz
git+https://github.com/ujjal40/pldty
messages
html-telegraph-poster
cfscrape
gitpython
heroku3
html-telegraph-poster
